/*font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: #ff4f4f;
  --secondary-color: #474bff;
  --dark-color: #262626;
  --gray-color: #222222;
  --light-color: #ffffff;
  --primary-transparent: rgba(255, 79, 79, 0.15);
  --secondary-transparent: rgba(71, 75, 255, 0.15);
  --light-transparent: rgba(255, 255, 255, 0.19);
}

body {
  background: linear-gradient(
    0deg,
    var(--secondary-transparent) 0%,
    var(--primary-transparent) 100%
  );
  font-family: "Poppins", sans-serif;
  color: var(--dark-color);
}

.container {
  background-color: var(--light-color);
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-image: url("../img/header-shape.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.main-nav {
  margin: 0 auto 10px;
  padding: 35px 20px;
  display: flex;
  align-items: center;
  max-width: 1125px;
}

.main-nav__logo {
  width: 100px;
  height: auto;
}
.main-nav__item {
  padding: 7px;
}

.main-nav__list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  background-color: var(--primary-color);
  color: white;
}
.main-nav__link {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}
.main-nav__item--btn {
  margin-left: 50px;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--light-color);
  cursor: pointer;
  box-shadow: none;
  border: none;
  transition: 0.3s;
}
.btn--dark {
  background-color: var(--dark-color);
  border: solid 1px var(--dark-color);
}

.btn--dark:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn--outline {
  background: none;
  border: solid 1px var(--light-color);
}
.btn--outline:hover {
  background: var(--light-color);
  color: var(--primary-color);
}

.btn--primary {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
  font-weight: bold;
  padding: 15px 40px;
  border: none;
}

.btn--primary:hover {
  background: var(--light-color);
  color: var(--primary-color);
}
.btn--light {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 30px;
  margin-left: 20px;
}
.btn--light:hover {
  background-color: var(--light-color);
  border: solid 1px var(--primary-color);
}
.btn--light span {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px var(--primary-color);
  margin-left: 10px;
}
.btn--light span::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 1px;
  height: 1px;
  background-color: transparent;
  border-style: solid;
  border-width: 6px 12px;
  border-color: transparent transparent transparent var(--primary-color);
}
.btn--play {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--light-transparent);
  border: none;
}
.btn--play::before {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--light-transparent);
}
.btn--play::after {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--light-transparent);
}

.btn--play span {
  position: absolute;
  width: 50%;
  height: 50%;

  top: 25%;
  left: 25%;
  border-radius: 50%;
  overflow: hidden;
}
.btn--play span::after {
  content: "";
  position: absolute;
  top: 1.5%;
  left: 20%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  border-style: solid;
  border-width: 23px 43px;
  border-color: transparent white;
}

.header-row {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}

.header-left {
  flex-basis: 45%;
  color: var(--dark-color);
  padding-top: 50px;
  padding-bottom: 100px;
  padding-right: 50px;
}
.header-left__heading {
  font-size: 44px;
  line-height: 123%;
  font-weight: normal;
}

.header-left__heading span {
  font-weight: bold;
}

.header-left__text {
  font-size: 18px;
  line-height: 156%;
}
.header-right {
  flex-basis: 55%;
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feautures {
  display: flex;
  justify-content: space-between;
  max-width: 1095px;
  margin: 200px auto 77px;
}
.feautures__title {
  display: none;
}

.card {
  margin-right: 20px;
  width: 20%;
}
.card__icon {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__icon:hover {
  background-color: var(--primary-color);
}

.card__icon:hover .icon {
  filter: brightness(400%);
}
.icon {
  width: 36px;
  max-height: 80px;
}
.card__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-color);
}

.card__title {
  font-size: 22px;
  line-height: 33px;
  color: var(--dark-color);
}

.about-us {
  position: relative;
  margin: 0 auto;
  padding: 133px 0 97px 0;
  background: linear-gradient(
    180deg,
    var(--light-transparent) 0%,
    var(--primary-transparent) 100%
  );
}

.about-us::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 95px;
  background: url(../img/shape.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
}

.about-us__container {
  max-width: 1095px;
  display: flex;
  margin: 0 auto;
}
.about-us__logo {
  vertical-align: bottom;
  margin-left: 10px;
}
.about-us__header {
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  margin: 0;
}
.about-us__subheader {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.about-us__list {
  list-style-type: none;
  font-size: 17px;
  line-height: 168%;
}

.about-us__item {
  position: relative;
  vertical-align: bottom;
  color: var(--gray-color);
}

.about-us__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -35px;
  width: 30px;
  height: 30px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
}

.about-us__btn-group {
  margin-top: 60px;
  margin-left: 0;
  display: flex;
}
.testimonial {
  margin: 146px auto 90px;
  max-width: 622px;
  text-align: center;
}
.section__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 0;
  text-align: center;
}

.section__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 74px;
  text-align: center;
}

.testimonial__img {
  border-radius: 5px;
}

.testimonial__name {
  font-weight: bold;
  font-size: 32px;
  line-height: 94%;
  margin: 10px 0;
}
.testimonial__position {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #ff4f4f;
  margin: 0;
}

.testimonial__text {
  font-size: 16px;
  line-height: 187%;
  color: #2c4e8b;
  margin: 0 80px 80px;
}

.dot {
  display: inline-block;
  background-color: #e3e5e9;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 5px;
}
.dot.active {
  background-color: var(--primary-color);
}
.our-story {
  max-width: 1100px;
  margin: 0 auto 96px;
}
.our-story__cards {
  display: flex;
  justify-content: space-between;
}
.our-story__card {
  display: flex;
  width: 40%;
}

.our-story__card-p {
  font-size: 16px;
  line-height: 200%;
}

.our-story__card-h3 {
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.our-story__icon {
  padding-right: 24px;
}
